.carousel-content-wrapper {
  overflow: hidden;
  position: relative;
  touch-action: pan-y pinch-zoom;
}

.carousel-content {
  display: flex;
  width: 100%;
}

.carousel-item {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  flex-basis: calc(100% / var(--columns-desktop, 3));
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .carousel-item {
    flex-basis: calc(100% / var(--columns-desktop, 3));
  }
}

@media (max-width: 767px) {
  .carousel-item {
    flex-basis: calc(100% / var(--columns-mobile, 2));
  }
}

.carousel-pagination {
  display: flex;
  gap: 0.25rem;
}

.carousel-pagination-dot {
  border: 1px solid #ccc;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.carousel-pagination-dot-active {
  border-color: var(--theme-color-primary);
}

.pagination-dot-button {
  padding: 0.25rem;
  background-color: var(--theme-color-background);
  border: 4px solid var(--theme-color-muted);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-dot-button:hover {
  background-color: transparent;
}

.pagination-dot-button.selected {
  border-color: var(--theme-color-primary);
}

.simple-carousel {
  max-width: var(--slide-max-width);
  margin: auto;

  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
}
